<!DOCTYPE html>
<html>
<head>
	<title>Home</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<style type="text/css">
	.content-section {
	  background: #ffffff;
	  padding: 10px 20px;
	  border: 1px solid #dddddd;
	  border-radius: 3px;
	  margin-bottom: 20px;
	}


	.list_container{
		border-radius: 15px;
		background-color: white;
		border: groove;
	}

</style>

<!-- BODY -->
<body style="background-color: white">

	<!-- The top bar -->
	<div class="row" style="background-color: steelblue; padding-left: 10vh; padding-right: 10vh">
		{% if title %}
			<div class="col-md-4"><h4><a href="{{ url_for('main.home') }}" style="color: black">C.B.C.</a> - {{ title }}</h4></div>
		{% else %}
			<div class="col-md-4"><h4><a href="{{ url_for('main.home') }}" style="color: black">Charging Booth Controller</a></h4></div>
		{% endif %}

		<!-- There are 8 remaining columns to work with -->
		{% block topbar %}{% endblock topbar %}
	</div>

	<!-- Flash Messages -->
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		    {% for category, message in messages %}
		        <div class="alert alert-{{ category }}">
		        	{{ message }}
		        </div>
		    {% endfor %}
		{% endif %}
	{% endwith %}

	<!-- This is where all the content goes. -->
	{% block content %}{% endblock content %}

</body>
</html>