{% extends "defualt_layout.html" %}

{% block topbar %}

	<div class="col-md-8" style="text-align: right"><h4><a href="{{ url_for('admin_user.logout') }}" style="color: black">Logout</a></h4></div>

{% endblock topbar %}

{% block content %}



	<!-- List of Routes to go to -->
	<div class="row" style="padding-top: 10vh">
		<!-- offset by 1 -->
		<div class="col-md-1">
		</div>

		<div class="col-md-6 list_container">
			<h2>Location: {{ location }}</h2>
			<dl class="dl-horizontal" style="padding-left: 10px">
				<!-- 1 -->
				<hr>
				<dt><a href="{{ url_for('slide_show.slide_show_pics', id=id) }}" style="color: black">Slide Show Pictures</a></dt>
				<dd>Upload, Remove Slide Show pictures from all, region, or single device at a time.</dd>


				<!-- 2 -->
				<hr>
				<dt><a href="{{ url_for('settings.device_settings', id=id) }}" style="color: black">Settings</a></dt>
				<dd>Change the setting of the devices from all, region, or single device at a time.</dd>


				<!-- 3 -->
				<hr>
				<dt><a href="{{ url_for('data.main', id=id) }}" style="color: black">Data</a></dt>
				<dd>View data recorded from devices.</dd>

				<!-- Remove device section -->
				<hr>
				<hr>
				<dt><a href="{{ url_for('main.remove_device', id=id) }}" style="color: red">Remove Device</a></dt>
				<dd>Permanently removes the device from the service. All settings will be lost and images associated with it along with the data! The removed device will need to reregister to the service.</dd>


				<!-- Account will be its own separate thing -->
				<!-- 4 -->
				<!-- <hr>
				<dt><a href="{{ url_for('admin_user.account') }}" style="color: black">Account</a></dt>
				<dd>Change account name, email, password.</dd> -->

				<hr>
			</dl>
		</div>
	</div>


{% endblock content %}