{% extends "defualt_layout.html" %}

{% block topbar %}
	
	<div class="col-md-8" style="text-align: right"><h4><a href="{{ url_for('admin_user.logout') }}" style="color: black">Logout</a></h4></div>

{% endblock topbar %}

{% block content %}

	<!-- List of Picture settings to go to -->
	<div class="row" style="padding-top: 10vh">
		<!-- offset by 1 -->
		<div class="col-md-1">
		</div>

		<div class="col-md-4 list_container">
			<h2>Location - {{ location }}</h2>
			<dl class="dl-horizontal" style="padding-left: 10px">
				<!-- 1 -->
				<hr>
				<dt><a href="{{ url_for('main.graph_all_years', id=id) }}" style="color: black">All Years</a></dt>
				<dd>Display all years that have sessions and will show how many sessions were made in each year.</dd>


				<!-- 2 -->
				<hr>
				<dt><a href="{{ url_for('main.graph_year', id=id) }}" style="color: black">By Year</a></dt>
				<dd>Display each month of a given year and show how many sessions in each month.</dd>

				<!-- 3 -->
				<hr>
				<dt><a href="{{ url_for('main.graph_month', id=id) }}" style="color: black">By Month</a></dt>
				<dd>Display each day of a given month and show how many sessions occured in each day.</dd>

				<!-- 4 -->
				<hr>
				<dt><a href="{{ url_for('main.graph_day', id=id) }}" style="color: black">By day</a></dt>
				<dd>Display each hour of a given day and show how many sessions occured in each hour.</dd>

				<hr>
			</dl>
		</div>
	</div>

{% endblock content %}