{% extends "defualt_layout.html" %}

{% block topbar %}

	<div class="col-md-8" style="text-align: right"><h4><a href="{{ url_for('admin_user.logout') }}" style="color: black">Logout</a></h4></div>

{% endblock topbar %}

{% block content %}



	<!-- List of Routes to go to -->
	<div class="row" style="padding-top: 10vh">
		<!-- offset by 1 -->
		<div class="col-md-1">
		</div>

		<div class="col-md-6 list_container">
			<h2>Your Devices</h2>
			<dl class="dl-horizontal" style="padding-left: 10px">
				{% for location, id in devices %}
					<hr>
					<dt><a href="{{ url_for('device.main', id=id) }}" style="color: black">{{ location }}</a></dt>
				{% endfor %}

				<hr>
			</dl>
		</div>
	</div>


{% endblock content %}