{% extends "defualt_layout.html" %}

{% block topbar %}

	<div class="col-md-8" style="text-align: right"><h4><a href="{{ url_for('main.logout') }}" style="color: black">Logout</a></h4></div>

{% endblock topbar %}

{% block content %}



	<!-- List of Routes to go to -->
	<div class="row" style="padding-top: 10vh">
		<!-- offset by 1 -->
		<div class="col-md-1">
		</div>

		<div class="col-md-4 list_container">
			<dl class="dl-horizontal" style="padding-left: 10px">
				<!-- 1 -->
				<hr>
				<dt><a href="#" style="color: black">Title 1</a></dt>
				<dd>Desc 1</dd>


				<!-- 2 -->
				<hr>
				<dt><a href="#" style="color: black">Title 2</a></dt>
				<dd>Desc 2</dd>


				<!-- 3 -->
				<hr>
				<dt><a href="#" style="color: black">Title 3</a></dt>
				<dd>Desc 3</dd>

				<hr>
			</dl>
		</div>
	</div>


{% endblock content %}