{% extends "defualt_layout.html" %}

{% block content %}

	<form method="POST" action="" enctype="multipart/form-data">
	    {{ form.hidden_tag() }}
	    <fieldset class="form-group">
	        <legend class="border-bottom mb-4">Picture Removal</legend>
	        <div class="form-group">
	            {{ form.removals.label() }}
	            {{ form.removals(class="form-control-file") }}
	            {% if form.removals.errors %}
	            	{% for error in form.removals.errors %}
	                    <span class="text-danger">{{ error }}</span></br>
	                {% endfor %}
	            {% endif %}
	        </div>
	    </fieldset>
	    <div class="form-group">
	        {{ form.submit(class="btn btn-outline-info") }}
	    </div>

	    <p id="demo"></p>
	</form>


	<div class="row">

      {% for i in range(image_count) %}
        
        <ul>
          <div>
          	<legend style="text-align: center">Image number: {{ i + 1 }}</legend>
            <img src="{{service_ip}}/site/grab_image/{{id}}/{{i}}/{{random_hex}}" style="width: 100%; max-width: 300px; height: auto">
          </div>
      	</ul>
        
    	{% endfor %}

    </div>

{% endblock content %}