{% extends "defualt_layout.html" %}

{% block topbar %}
	
	<div class="col-md-8" style="text-align: right"><h4><a href="{{ url_for('admin_user.logout') }}" style="color: black">Logout</a></h4></div>

{% endblock topbar %}

{% block content %}

	<!-- List of Picture settings to go to -->
	<div class="row" style="padding-top: 10vh">
		<!-- offset by 1 -->
		<div class="col-md-1">
		</div>

		<div class="col-md-4 list_container">
			<h2>Location - {{ location }}</h2>
			<dl class="dl-horizontal" style="padding-left: 10px">
				<!-- 1 -->
				<hr>
				<dt><a href="{{ url_for('slide_show.upload', id=id, location=location) }}" style="color: black">Upload</a></dt>
				<dd>Upload Slide Show Pictures</dd>


				<!-- 2 -->
				<hr>
				<dt><a href="{{ url_for('slide_show.remove', id=id, location=location) }}" style="color: black">Remove</a></dt>
				<dd>Remove Slide Show Pictures</dd>

				<hr>
			</dl>
		</div>
	</div>

{% endblock content %}