{% extends "defualt_layout.html" %}

{% block topbar %}
	
	<div class="col-md-8" style="text-align: right"><h4><a href="{{ url_for('admin_user.logout') }}" style="color: black">Logout</a></h4></div>

{% endblock topbar %}

{% block content %}

	{% for session, date in sessions_and_dates %}

		<article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
					<h5 class="mr-2">Session ID: {{ session["id"] }}</h5>
				</div>

				<p class="article-content">Date Initiated: {{date}}</p>
				<p class="article-content">Duration: {{ session["duration"] }} Seconds</p>
				<p class="article-content">Power Consumed: {{ session["power_used"] }} Watt Hours</p>
				<p class="article-content">Amount Paid: {{ session["amount_paid"] }} Cents</p>
				<p class="article-content">Location: {{ session["location"] }}</p>
				<p class="article-content">Port: {{ session["port"] }}</p>
				<p class="article-content">Increment Size: {{session["increment_size"] }} Seconds</p>
				<p class="article-content">Increments: {{ session["increments"] }}</p>
			</div>	
		</article>

	{% endfor %}

	{% for page_num in iter_pages %}
      {% if page_num > 0 %}
        {% if page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('data.list_data', id=id, location=location, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('data.list_data', id=id, location=location, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}

{% endblock content %}